@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+HK:wght@500&display=swap");

@import "component/statusbar.css";
@import "component/mainname_bar.css";
@import "component/main_title.css";
@import "component/navi_bar.css";
@import "component/num-dot.css";
@import "component/no-moblie.css";

@import "screen/friends.css";
@import "screen/login.css";
@import "screen/chats.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chatscreen.css";

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
body {
  width: 390px;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
  font-family: "Noto Sans HK", sans-serif;
}
