.main_title_first,
.main_title,
.main_title_end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main_title {
  justify-content: space-between;
  width: 100%;
}
.main_title_end {
  justify-content: flex-end;
  flex-direction: column;
}
.main_title img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
}
.main_title p {
  font-size: 15px;
  font-weight: bolder;
  margin-left: 10px;
  opacity: 0.9;
}
.line {
  width: 380px;
  height: 2px;
  background-color: whitesmoke;
  margin: 0 10px;
}

.friends-main_title {
  margin: 15px;
}
.mainname_bar a:link,
.mainname_bar a:visited,
.mainname_bar a:hover,
.mainname_bar a:active {
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

.chatscreen_main_title {
  margin: 0 10px;
}
.chatscreen_main_title img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  margin-right: 3px;
}
.chatscreen_main_title p:first-child {
  font-weight: normal;
  font-size: 12px;
  opacity: 0.5;
}
.chat_bubble div,
.chat_bubble span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_bubble span {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: whitesmoke;
  border-top-left-radius: 0;
}
.chat_bubble div {
  margin-left: 5px;
  margin-top: -5px;
}
.chat_bubble div p {
  margin-bottom: -25px;
}
.bubble2 span {
  width: 50px;
  height: 40px;
}
.bubble3 span {
  width: 100px;
  height: 40px;
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
}
.my_bubble {
  margin-right: 20px;
}
