.main_title p:nth-child(2) {
  font-size: 13px;
  font-weight: normal;
  margin-top: -10px;
  opacity: 0.4;
}
.main_title_end div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_title_end > span {
  font-size: 13px;
  opacity: 0.4;
}
.chat-a:link,
.chat-a:visited,
.chat-a:hover,
.chat-a:active {
  text-decoration: none;
  color: black;
  opacity: 0.9;
}
