.Welcom_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.Welcom_text span {
  font-size: 20px;
}
.Welcom_text p {
  opacity: 0.5;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin: 20px 0 70px 0;
}
#login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login_form input {
  margin-bottom: 12px;
  width: 370px;
  height: 45px;
  border: none;
  border-bottom: rgb(200, 200, 200) solid 1.5px;
}
#login_form input:nth-child(3) {
  border-bottom: none;
  border-radius: 5px;
  height: 47px;
  margin-top: 10px;
  font-size: 16px;
  background-color: whitesmoke;
}
#login_form input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: border-bottom 0.4s ease-in;
}

#login_form a {
  width: 370px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border-radius: 5px;
  color: rgb(45, 45, 45);
  transition: background-color 0.3s ease-in-out;
}

#login_form input:focus {
  outline: none;
  border-bottom: 2px rgb(83, 83, 83) solid;
}
#login_form input:nth-child(3):focus {
  border: none;
}
#login_form input:nth-child(3):hover {
  background-color: #f7e600;
}
.find_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 13px;
  text-decoration: underline;
}
.find_btn a {
  transition: text-decoration-color 0.2s ease-in-out;
}
.find_btn a:focus,
.find_btn a:hover,
.find_btn a:link,
.find_btn a:visited {
  color: rgb(73, 73, 73);
}
.find_btn a:hover {
  text-decoration-color: #f7e600;
}
#login_form a:hover {
  background-color: #f7e600;
}
