.setting-main_bar,
.settings,
.settings div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px;
  opacity: 0.9;
}
.setting-main_bar {
  margin-bottom: 15px;
}
.setting-main_bar button {
  background-color: transparent;
  border: none;
}
.setting-main_bar i {
  font-size: 18px;
}
.setting-main_bar div:nth-child(2) {
  font-size: 17px;
}
.settings div:nth-child(1) {
  justify-content: flex-start;
  font-size: 17px;
}
.settings div:nth-child(1) i {
  margin-right: 13px;
}
.settings p {
  opacity: 0.4;
  font-size: 14px;
}
.settings {
  opacity: 0.85;
}
.setting_line__ {
  margin: -5px 0;
}
.focus_line {
  background-color: black;
  opacity: 0.15;
  margin: 20px 0;
}
.setting-main_bar button:focus {
  outline: none;
}
